@import '@assets/styles/palette';
@import '@assets/styles/mixins';

.wrapper {
  .title {
    @include textStyle(700, 1.125rem, 1.375rem);

    color: $gray2Color;
  }

  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 3.625rem;
    font-weight: bold;
  }
}

.editToggleBtn {
  position: absolute;
  top: 1rem;
  right: 1.6rem;
  font-size: 1.375rem !important;
  color: $primaryColor;
  padding: 0.25rem !important;

  @include onRTL {
    right: initial;
    left: 1.6rem;
  }
}
