@import '@assets/styles/mixins';
@import '@assets/styles/palette';


.form {
  margin: 0;
  padding: 0;

  .box {
    margin-bottom: 3.25rem;
  }
}

.titleText {
  color: $primaryColor;
  font-size: 1.125rem;
  font-weight: 700;
}

.buttons {
  margin-top: -1.25rem;
}