@import '@assets/styles/palette';
@import '@assets/styles/mixins';

.card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start !important;
  margin-right: 0.25rem;
  border-block-end: 0 !important;
  padding: 1.25rem !important;
  background: #fff;
  cursor: pointer;

  @include onRTL {
    margin-right: 0;
    margin-left: 0.25rem;
  }

  &.active {
    background: #f1f1f1;
  }

  .rateName {
    width: 100%;
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .draftTag {
    margin: 0;
  }
}
