@import '@assets/styles/mixins';
@import '@assets/styles/palette';

.title {
  font-size: 0.75rem;
  font-weight: 400;
  color: $grayColor;
  cursor: pointer;
  width: 220px;
  padding-left: 8px;

  @include onRTL {
    padding-left: 0px;
    padding-right: 8px;
  }

  @include breakpoint('md') {
    width: fit-content;
  }
}
.active {
  @extend .title;
  font-weight: 700;
  color: $primaryColor;
  padding-left: 0.438rem;
  border-left: 2px solid $primaryColor;

  @include onRTL {
    padding-left: 0rem;
    padding-right: 0.438rem;
    border-left: 0px;
    border-right: 2px solid $primaryColor;
  }
}
