@import '@assets/styles/palette';

.container {
  display: flex;
  flex-direction: column;

  .textHeader {
    font-size: 1.125rem;
    color: $gray2Color;
    font-weight: 400;
  }

  .textBody {
    font-size: 0.875rem;
    color: $gray2Color;
    font-weight: 700;
    padding-top: 0.813rem;
    padding-bottom: 0.625rem;
  }

  .boxData {
    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: 40% 20% 40%;

    div {
      width: 100%;
    }

    .textTil {
      text-align: center;
      padding: 0.3rem 1.813rem;
    }
  }
}
