@import '@assets/styles/mixins';
@import '@assets/styles/palette';

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;

    @include breakpoint('lg') {
        flex-direction: column;
    }

    .logo {
        position: absolute;
        top: 1.125rem;
        left: 2.125rem;

        @include onRTL {
            left: initial;
            right: 2.125rem;
        }
    }

    .button {
        position: absolute;
        top: 1.25rem;
        right: 2rem;
        z-index: 1;

        @include onRTL {
            right: initial;
            left: 2rem;
        }
    }

    .sidebar {
        min-height: 100vh;
        width: 42%;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        background: rgba($primaryColor, 0.1);
        position: relative;

        @include breakpoint('lg') {
            min-height: auto;
            width: 100%;
            padding: 3rem 0 0 0;
        }
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}
