@import './palette';
@import './mixins';
@import '../fonts/fonts';

html,
body {
  font-size: 16px;
  background-color: $backgroundColor;
  font-family: 'Helvetica', sans-serif;
  width: 100%;
  height: 100%;
}
p {
  margin: 0;
}

// root tree
#root {
  width: 100%;
  height: 100%;
  white-space: break-spaces;
  position: relative;

  .wrapper {
    width: 1180px;
    margin: 3rem auto;
    box-sizing: border-box;

    @include breakpoint('xl') {
      width: calc(100% - 2rem);
      margin: 3rem 1rem;
    }

    @include breakpoint('md') {
      margin: 2rem 1rem;
    }
  }
}

// antd overrides
.ant-form-large .ant-form-item .ant-form-item-label > label {
  height: auto;
}

.ant-form-item-explain-error {
  white-space: break-spaces;
}

.ant-alert-message {
  white-space: break-spaces;
}

.ant-tabs-top .ant-tabs-nav::before {
  border-bottom: 1px solid #d9d9d9 !important;
}

// globals
.bold {
  font-weight: 700;
}

a {
  text-decoration: none;

  &.active {
    color: $primaryColor;
    font-weight: 700;
  }
}

.maplibregl-control-container {
  display: none;
}