@import '@assets/styles/palette';
@import '@assets/styles/mixins';

.container {
  border-radius: 0.188rem;
  .collapseContainer {
    background: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    color: #4f4f4f;
    border-radius: 0px 0px 0px 0px !important;
  }

  .collapseContainer {
    @include onRTL {
      > div:first-child span[role='img'] svg {
        transform: rotateZ(180deg);
      }
    }
  }

  .collapseContainer:first-child {
    border-radius: 0.188rem 0.188rem 0px 0px !important;
  }
  .collapseContainer:last-child {
    border-radius: 0px 0px 0.188rem 0.188rem !important;
  }
}

.collapseBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.828rem;
  .collapseTitle {
    color: $gray2Color;
    font-weight: 700;
    font-size: 0.866rem;
  }
}
